@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  background-color: #343a40;
  color: #fff;
  min-height: 100vh;
  max-height: auto;
}
.contactMessageTable {
  padding: 20px;
}
.contactMessageTable h1 {
  margin-bottom: 30px;
  border-bottom: 1px solid;
  width: max-content;
}

.search-container {
  align-items: center;
  width: 400px;
  margin: auto;
  border-radius: 100px;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 20px;
}
.search-container form {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
#search-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}
#search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  align-self: center;
}

.contactMessageTable table {
  border-width: 2px;
}
.contactMessageTable th,
td {
  padding: 15px;
  min-width: 90px;
}
#image {
  height: 150px;
  width: 100px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 2px 3px black;
}
.deleteBtn form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.deleteBtn form button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease-in-out;
}
.deleteBtn form button:hover {
  color: white;
  background-color: black;
}
