@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  background-color: #343a40;
  height: auto;
  color: #fff;
}

.manageBookTable {
  padding: 20px;
}
.manageBookTable h1 {
  margin-bottom: 30px;
  border-bottom: 1px solid;
  width: max-content;
}
.search-container {
  align-items: center;
  width: 500px;
  margin: auto;
  border-radius: 100px;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 20px;
}
.search-container form {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
#search-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}
#search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  align-self: center;
}
.manageBookTable table {
  border-collapse: collapse;
  border-width: 2px;
}
#image {
  height: 150px;
  width: 100px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 2px 3px black;
}
.manageBookTable th,
td {
  padding: 15px;
  min-width: 90px;
}

.editbutton form {
  margin-bottom: 10px;
}
.editbutton button {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease-in-out;
}
.editbutton button:hover {
  color: white;
  background-color: black;
}
#mainTable,
#searchTable {
  margin: 20px;
}
#editModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  z-index: 10;
  min-width: 400px;
}

#editModal form {
  display: flex;
  flex-direction: column;
}

#editModal label {
  margin: 5px 0;
}

#editModal input,
#editModal textarea,
#editModal select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#editModal textarea {
  min-height: 80px;
}
#editModal form button {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease-in-out;
  margin-bottom: 10px;
  background-color: #343a40;
  color: white;
}
#editModal form button:hover {
  background-color: black;
}
